version: '3.9'

services:
  my-java-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    networks:
      - spring-postgres
    restart: always
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://postgres:5432/ideahub"
  postgres:
    image: postgres:18
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: ideahub
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5430:5432"
    networks:
      - spring-postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d ideahub" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true


volumes:
  pgdata:
    driver: local
networks:
  spring-postgres: